@charset "utf-8";

/**
 * Reset
 */
@import "reset.css";

/**
 * Contacts Profiles
 */

body{
  font-family : "Verdana";
  background-color : #7CEC9F;
}
/**
 * Contacts Profiles
 */

body{
  font-family : "Verdana";
  background-color : #7CEC9F;
}

.contacts {
  width: 30%;
  float : left;
  min-width  : 220px;
  overflow-y: auto;
  height: 90vh;
}

.contacts--profiles {
  background: #2ecc72;
  padding: 1rem;
  height: 80px;
}

.contacts--profiles-avatar img {
  width: 75px;
  border-radius: 50px;
  border: 1px solid black;
}

.contacts--profiles-name span {
  margin-top: 25px;
  display: block;
  font-size: 20px;
}

.contacts--profiles-avatar {
  width: 30%;
}

.contacts--profiles-name {
  width: calc(70% - 30px);
}

.contacts--profiles-avatar, .contacts--profiles-name {
  float: left;
}

/**
 * Contacts List
 */
.contacts--list ul li {
  text-decoration: none;
  padding: 10px 10px;
  height: 55px;
  background-color : #7CEC9F;
}

.contacts--list ul li:last-child {
  border: none;
}

.contacts--list-item-avatar, .contacts--list-item-name, .contacts--list-item-counter {
  float: left;
}

.contacts--list-item-avatar img {
  width: 50px;
  border-radius: 50px;
}
.contacts--list-item-name, .contacts--list-item-counter {
  margin-left: 10px;
}

.contacts--list-item-name span, .contacts--list-item-counter span {
  margin-top: 20px;
  display: block;
  font-size: 17px;
}

.messages_section{
  width :70% ;
  float: right;
  min-width: calc(70% - 180px);
  background-color: #9eee;
  height: 100%;  
}

.messages{
  height: 90vh;
  background-color : #9eee;
  overflow-y: auto;
}

.messages--received-status img{
  border-radius : 50%;
  border : 2px solid aliceblue ;
  box-shadow : #218F76 3px 3px;
  float: left;
  width : 30%;  
}

.messages--sent-status img{
  border-radius : 50%;
  border : 2px solid aliceblue ;
  box-shadow : #019031 3px 3px;
  float: left;
  width: 30%;
}

.messages--received, .messages--sent{
  width : 40%;
  margin-left : 2vw; 
  margin-top : 2vh;
  border-radius : 30px;
  clear: both;
}

.messages--received-status-date, .messages--sent-status-date{
  float : left;
  width : 20%;
  color : cadetblue;
}

.messages--received-status-name span{
  float : left;
  width : 40%;
  font-weight: bold;
  color : white;
}

.messages--sent-status-name span{
  float : left;
  width : 40%;
  font-weight: bold;
  color : white;
}

.messages--received, .messages--sent{
  background-color : #67E6DC;
  margin-top : 10px;
  padding : 1rem;
}

.messages--sent{
  float : right;
  margin-right : 2vw; 
  background-color: #7CEC9F;
}

.clear{
  clear : both;
}

.form-message>form>textarea{
  width: 70%;
  resize: none;
  float: left;
  font-size: 12px;
  border-radius : 20px;
  padding : 5px;
  border: 2px solid aliceblue;
}

.form-message>form>input{
  width: 25%;
  float: right;
  padding : 16px 0px 16px 0px;
  border-radius : 20px;
  transition : all 1s;
  background-color: #75DA8B;
  border : none;
  margin-right : 3%;
}

.form-message>form>input:hover{
  background-color: #3eee;
  color : white;
}